*{
    margin: 0;

    box-sizing: border-box;

}
h1{
    font-size: 2rem;
    color: #f2bbbb;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
    text-align: left;
}
body{
    font-family: Arial, sans-serif;
    color: #333;
    min-height: 100vh;
    background:url("/images/bacground_image.jpg") no-repeat center center fixed,linear-gradient(to bottom, #abe39d4d, #343c3e93);
    line-height: 1.6;
    background-size: cover;
}
#section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
header {
    text-align: center;
    background-color: rgba(223, 35, 10, 0.759);

}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-items:flex-end;
    flex-wrap: nowrap;
    background-color: #bde4b6b8;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: right;
}
div p{
    font-size: 16px;
    border: solid 1px #a81d1d9e;
    background-color: whitesmoke;
}
.member_images{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ad1d1d;
}
.member_images img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}